body {
    margin: 0;
    padding: 0;
}

.topWebsite {
    background-color: darkgray;
}

.mainNav {
    background: darkgray;
    text-align: center;
}

.navButton {
    /* Color management */
    background-color: #3A3B3C;
    border-color: #3A3B3C;
    box-shadow: 2px 1px 0 #242526;
    color: white;
    /* Size button */
    height: 55%;
    width: 20%;
    min-width: 100px;
    min-height: 35px;
    /* Position button */
    position: center;
    display: inline-block;

    font-family: "Impact", sans-serif; /* font custom */
}

.topBanner {
    width: 100%;
    min-width: 150px;
    image-rendering: high-quality;
}
.icoWebSite {
    width: 4%;
    min-width: 38px;
    image-rendering: high-quality;
    transform: rotate(35deg);
}
