@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,800;1,800&display=swap');


@keyframes opacityIn {
    from { opacity: 45%; }
    to { opacity: 100%;}
}

@keyframes opacityOut {
    from { opacity: 100% }
    to { opacity: 45%;}
}

@keyframes opacityInAt0 {
    from { opacity: 0; }
    to { opacity: 100%;}
}

@keyframes textSlide {
    from { left: calc(100vw + 50%); }
    to { left: -50%; }
}

@keyframes shadow-out {
    from {
        -webkit-box-shadow: 0 0 15px #3f2341;
        -moz-box-shadow: 0 0 15px #3f2341;
        box-shadow: 0 0 15px #3f2341;
    }
    to {
        -webkit-box-shadow: 10px 10px 15px #311c33;
        -moz-box-shadow: 10px 10px 15px #311c33;
        box-shadow: 10px 10px 15px #311c33;
    }
}
@keyframes shadow-in {
    from {
        -webkit-box-shadow: 10px 10px 15px #311c33;
        -moz-box-shadow: 10px 10px 15px #311c33;
        box-shadow: 10px 10px 15px #311c33;
    }
    to {
        -webkit-box-shadow: 0 0 15px #3f2341;
        -moz-box-shadow: 0 0 15px #3f2341;
        box-shadow: 0 0 15px #3f2341;
    }
}

@keyframes bright {
    0% {
        transform: rotate(0deg) scale(100%, 100%);
        transform-origin: center;
    }

    50% {
        transform: rotate(180deg) scale(125%, 125%);
        transform-origin: center;
    }

    100% {
        transform: rotate(360deg) scale(100%, 100%);
        transform-origin: center;
    }
}


html {
    background: #171917;
    color: white;
}

html body {
    margin: 0;
    padding: 0;
    animation-name: opacityInAt0;
    animation-duration: 1s;
}

header {
    background: linear-gradient(#83cced, #dbeef9);
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;

    padding-top: 5px;
    padding-bottom: 5px;

    background-color: #252725;

    position: -webkit-sticky;
    position: sticky;

    top: 29px;
    width: 100%;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    z-index: 256;
}

#iconSectionNavBar1 {
    display: flex;

    align-items: center;
    justify-content: center;
    gap: 5px;

    width: 25%;

    padding-left: 5px;
    z-index: 1;
}

#iconNavBar1 { image-rendering: optimizeSpeed; }

#topBanner { height: calc(100vh - 75px); }


#iconSectionNavBar1 img {
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;

    border-radius: 20%;
}

#iconSectionNavBar1 p {
    display: inline-block;
    float: right;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.sectionAccueil {
    position: relative;
    width: 100%;
    height: auto;

    top: -10px;
    z-index: -1;
}

.sectionAccueil #bgVideo {
}

#header-sectionAcceuil {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url("https://media-exp1.licdn.com/dms/image/C4E16AQFKM796iJvy9A/profile-displaybackgroundimage-shrink_200_800/0/1647170244581?e=1652918400&v=beta&t=brRyhYsnji4X2UEvZMt0hGwntT3AD4_NrLbhuixKqRM");
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 5px;

    width: 100%;
    height: 100px;
    padding: 5px;
    z-index: 10;
}

#header-sectionAcceuil div {
    margin-left: 20px;
    width: 500px;
    text-align: center;
}

#header-sectionAcceuil img {
    border-radius: 100%;
    width: 100px;
    height: 100px;

    -webkit-box-shadow: 0 0 10px black;
    -moz-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}
#header-sectionAcceuil h1 {
    font-size: 150%;
    font-family: 'Press Start 2P', cursive;

    text-shadow: 0 0 10px black;
}
#header-sectionAcceuil h2 {
    font-size: 100%;
    font-family: 'Source Code Pro', monospace;

    text-shadow: 0 0 10px black;
}

#bio {
    font-family: 'Open Sans', sans-serif;
}

#socials-sectionAccueil {
    padding-top: 10px;

}
#socials-sectionAccueil a {
    font-style: normal;
    text-underline: none;
}
#socials-sectionAccueil img {
    width: 46px;
    height: 46px;
    cursor: pointer;
    text-align: center;
}

#sectionAccueil section {
    font-family: 'Press Start 2P', cursive;
    height: 100%;
    font-size: 80%;
    width: 100%;
}
#sectionAccueil:hover {
    -webkit-animation-name: shadow-out;
    -webkit-animation-duration: 500ms;
    -moz-animation-name: shadow-out;
    -moz-animation-duration: 500ms;
    -o-animation-name: shadow-out;
    -o-animation-duration: 500ms;
    animation-name: shadow-out;
    animation-duration: 500ms;

    -webkit-animation-play-state: initial;
    -moz-animation-play-state: initial;
    -o-animation-play-state: initial;
    animation-play-state: initial;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
#sectionAccueil:not(:hover) {
    -webkit-animation-name: shadow-in;
    -webkit-animation-duration: 500ms;
    -moz-animation-name: shadow-in;
    -moz-animation-duration: 500ms;
    -o-animation-name: shadow-in;
    -o-animation-duration: 500ms;
    animation-name: shadow-in;
    animation-duration: 500ms;

    -webkit-animation-play-state: initial;
    -moz-animation-play-state: initial;
    -o-animation-play-state: initial;
    animation-play-state: initial;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}


#footerCopyright {
    margin: 10% auto 0;
    text-align: center;
}
#footerCopyright p {
    font-size: 85%;
    font-family: 'Source Code Pro', monospace;
}

#bucheronPerso {
    image-rendering: pixelated;
    position: absolute;
    top: -10px;
    left: 35vw;
    height: 58px;
    width: 32px;
    z-index: 1;

    background-image: url("https://eapi.pcloud.com/getpubthumb?code=XZC6DJZL5nMQBio1XfCimi0kgf82uJuAvFy&linkpassword=undefined&size=32x58&crop=0&type=auto");

}
#homeTop {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 370px;
}
#homeTop img {
    position: absolute;

    top: -200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;

    z-index: -1;
}

#structureWebSite {
    display: flex;
    align-items: center;
    justify-content: center;
}
#structureWebSite div {
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 0.5px solid #242624;
    border-right: 0.5px solid #242624;
}

#bannerInfoUseful {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    background-color: tomato;

    height: 20px;
}
#bannerInfoUseful p {
    position: absolute;
    width: 100%;
    margin: 0;
}

#textScrollTop {
    font-family: Arial, sans-serif;
}


#bannerTest {
    display: none;

    text-align: center;

    z-index: -1;
}

#bannerCHRZ {
    text-align: center;

    image-rendering: pixelated;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    padding-left: 35px
}


.title-sectionAccueil {
    padding-top: 5px;
    margin: 0 0 0 5px;
    text-align: left;
    font-size: 120%;
    font-family: 'Press Start 2P', cursive;
}

#titleSectionDevInProgress {
    margin-top: 10%;
    grid-column: span 5;
    grid-row: 1;
    padding-left: 5%;

    font-family: 'Press Start 2P', cursive;
    border-bottom: solid #3f2341 1px;
}

.illustrationSection {
    display: grid;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
.illustrationSection img { width: 100%; }
#superMarioBrosIllustrationImage1:hover { z-index: -1; }

#illustrationSection3 {
    background-image: url("https://camo.githubusercontent.com/12388ce36f4e4bc0fc8886b648b1642e6d01c7f7210a498bcba9ca539efd5b47/68747470733a2f2f656170692e70636c6f75642e636f6d2f6765747075627468756d623f636f64653d585a463430305a3531536a4f4a62685538344f64434165336b32455356427476453358266c696e6b70617373776f72643d756e646566696e65642673697a653d31303738783139302663726f703d3026747970653d6175746f");
    background-size: contain;
    background-repeat: no-repeat;

    height: 18vw;
    width: 90%;
    border-radius: 10px;

    margin-left: auto;
    margin-right: auto;
}

#vitrineDevIsProgress {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;

    gap: 2%;
}
.sectionsDevInProgress {
    width: 25%;
    background-color: #252725;
    border-radius: 10px;

    -webkit-box-shadow: 0 0 15px #3f2341;
    -moz-box-shadow: 0 0 15px #3f2341;
    box-shadow: 0 0 15px #3f2341;

    border-left: 5px solid #2d0161;
    border-right: 5px solid #2d0161;
    padding-top: 5px;
}
.sectionsDevInProgress:hover {
    -webkit-animation-name: shadow-out;
    -webkit-animation-duration: 500ms;
    -moz-animation-name: shadow-out;
    -moz-animation-duration: 500ms;
    -o-animation-name: shadow-out;
    -o-animation-duration: 500ms;
    animation-name: shadow-out;
    animation-duration: 500ms;

    -webkit-animation-play-state: initial;
    -moz-animation-play-state: initial;
    -o-animation-play-state: initial;
    animation-play-state: initial;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.sectionsDevInProgress:not(:hover) {
    -webkit-animation-name: shadow-in;
    -webkit-animation-duration: 500ms;
    -moz-animation-name: shadow-in;
    -moz-animation-duration: 500ms;
    -o-animation-name: shadow-in;
    -o-animation-duration: 500ms;
    animation-name: shadow-in;
    animation-duration: 500ms;

    -webkit-animation-play-state: initial;
    -moz-animation-play-state: initial;
    -o-animation-play-state: initial;
    animation-play-state: initial;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
.informationSections { padding: 2%; }
.informationSections p {
    font-family: 'Source Code Pro', monospace;
    font-size: 90%;
    margin-top: -2%;
}
.informationSections u:hover {
    color: aquamarine;
    cursor: pointer;
}
.woodBar {
    position: absolute;

    top: -25px;
    width: 100%;
    height: 32px;
    z-index: -1;
    box-shadow: 0 0 10px black;

    background-image: url("https://raw.githubusercontent.com/NaulaN/CHRZ-development_website/master/res/wood.png");
    background-repeat: repeat-x;
    background-size: contain;
}
#floor {
    display: grid;
    grid-template-columns: 32px;
    grid-template-rows: 48px 48px 48px 48px;

    image-rendering: pixelated;

    -webkit-filter: drop-shadow(0px 5px 5px #222);
    filter: drop-shadow(0px 5px 5px #222);

    overflow: hidden;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#floor #corner-left {
    width: 100%;
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#floor #corner-right {
    width: 100%;
    height: 100%;
}
#floor #rock-corner {
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);

    width: 100%;
    height: 100%;
}

#floor .dirt-left {
    width: 100%;
    height: 100%;

    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.rock-bottom {
    transform: rotate(-90deg);
    width: 100%;
    height: 100%;

    z-index: 1;
}

.torch {
    position: relative;
    display: grid;

    grid-template-rows: 48px 48px 48px;
    grid-template-columns: 48px;
    z-index: 11;
}

.torch img {
    image-rendering: pixelated;
    width: 100%;
    height: 100%;
}

.light-torch {
    animation-name: bright;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}

.hexagon {
    top: 30vh;
    left: 40%;
    position: absolute;
    margin: 0 auto;
    background-color: #FF8B45;
    border-radius: 10px;
    width: 100px;
    height: 63px;
    box-sizing: border-box;
    transition: all 1s;
    border: 0.4vh solid transparent;
}

/* Creating pseudo-class */
.hexagon:before, .hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;
    background-color: #FF8B45;
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}
.hexagon:after {
    transform: rotate(-60deg);
}

#village {
    position: absolute;
    display: grid;
    top: -272px;

    grid-template-rows: 64px 64px 64px 64px 64px;

    image-rendering: pixelated;
    overflow: hidden;
    width: 100%;
}

#village img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#minigame {
    position: absolute;
    top: -183px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.platform {
    position: relative;

    display: grid;
    grid-template-rows: 48px 48px 48px 48px 48px 48px 48px 48px;
    grid-template-columns: 48px 48px 48px 48px 48px 48px;

    image-rendering: pixelated;

    z-index: -1;
}

/* ======================= */
/* * BARRE DE NAVIGATION * */

/* div de la barre de navigation */

#sectionNavBar1
{
    display: grid;

    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100%;
}

.profile-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1px;

    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    z-index: 10;
}

#platform-profile {
    position: relative;
    display: grid;
    grid-template-columns: 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px 48px;
    grid-template-rows: 48px;

    top: -50px;
    left: -690px;
    z-index: -1;
}

#platform-profile img {
    width: 100%;
    height: 100%;
    image-rendering: pixelated;
}

#icon-drop-down-navigation-bar {
    display: none;

    height: 64px;
    width: 64px;

    background-color: white;
}

#drop-down-menu {
    position: fixed;
    display: none;

    height: 86.5vh;
    width: 40vw;

    font-family: 'Press Start 2P', cursive;

    left: calc(100vw - 40vw);
    top: calc(100vh - 86.5vh);

    padding: 10px;

    background-color: #252525;
    z-index: 1;
}
#drop-down-menu p { border-top: white solid 1px; }
#drop-down-menu a { color: white; }
#drop-down-menu a:hover { color: #6a1794; }

/* le bouton de la barre de navigation */
.navBar1
{
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 100%;

    font-family: 'Press Start 2P', cursive;
    height: 64px;
    cursor: pointer;
    grid-gap: 4px;
}
.navBar1 span:hover { color: #6a1794; }

/* placement des boutons dans la barre de navigation */
.navBar1Button0
{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 1; grid-column-end: 1;
    grid-row: 1;
}
.navBar1Button0 > img {
    z-index: -1;

    object-fit: contain;
}
.navBar1Button0 > span {
    position: absolute;

    font-size: 150%;
}

.navBar1Button1
{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 2; grid-column-end: 2;
    grid-row: 1;
}
.navBar1Button1 > img {
    z-index: -1;

    object-fit: contain;
}
.navBar1Button1 > span {
    position: absolute;

    font-size: 150%;
}

.navBar1Button2
{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 3; grid-column-end: 3;
    grid-row: 1;
}
.navBar1Button2 > img {
    z-index: -1;

    object-fit: contain;
}
.navBar1Button2 > span {
    position: absolute;

    font-size: 150%;
}

.navBar1Button3
{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column-start: 4; grid-column-end: 4;
    grid-row: 1;
}
.navBar1Button3 > img {
    z-index: -1;

    resize: block;
}
.navBar1Button3 > span {
    position: absolute;

    font-size: 150%;
}

#mes-formations {
    height: 100%;
    width: 100%;
}

/* ======================= */

.buttonsBar {
    display: inline-block;
    height: 5px;
    width: 45px;
    background-color: darkgray;
}
.buttonsBar:hover {
    background-color: aquamarine;
    cursor: pointer;
}

#structureWebSite {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1%;

    font-family: 'Source Code Pro', monospace;
}

#structureWebSite div {
    width: calc(70vw/5);
}

#structureWebSite a {
    color: white;
    text-decoration: none;
}

#structureWebSite h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: calc(100vw/75);
}