/**=- Fonts -=**/
@font-face
{
    font-family: GeoSansLight;
    src: url("GeosansLight.ttf");
}

/**=- General settings -=**/
html
{
    /* Color management */
    color: white;
    background-color: #181818;
    /* font */
    font-family: GeoSansLight, "sans-serif";
}
body
{
    /* position */
    margin: 0;
    padding: 0;
}
h1
{
    font-weight: bold;
}
pre
{
    font-family: GeoSansLight, sans-serif;
}

/**=- per ID -=**/
#navigationBar
{
    background-color: #3d3d3d;
}
#menuIcon
{
    width: 4%;
    margin: 0 1%;
}
#figureBannerWebSite
{
    /* position */
    margin: 0;
    padding: 0;
    /* color */
    background-color: #3d3d3d;
    /* border */
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
#bannerWebSite
{
    background-color: #3d3d3d;
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 150px;
    image-rendering: high-quality;
    border-radius: 15px
}
#illustrationYoutube
{
    width: 100%;
    border-radius: 7px;
}

/* per CLASS */
.panel {
    /* Color management */
    background-color: #3d3d3d;*
box-shadow: 4px 3px 0 #101010;
    border: #181818;
    /*- position */
    padding: 0.1% 5%;
    margin: 5% 10%;
    border-radius: 10px;
}
.mainNav
{
    text-align: center;
}
.navButton
{
    /* Color management */
    background-color: #212121;
    border-color: #3d3d3d;
    box-shadow: 4px 3px 0 #101010;
    color: white;
    /* Size button */
    height: 55%;
    width: 20%;
    min-width: 100px;
    min-height: 35px;
    /* Size font */
    font-size: 118%;
    font-weight: bold;
    text-decoration: underline;
    /* Size border */
    border-radius: 6px;
    /* Position button */
    position: center;
    display: inline-block;
    /* Font */
    font-family: GeoSansLight, sans-serif; /* font custom */
}

