@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


header {
    display: flex;

    align-items: center;
    justify-content: space-around;

    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;

    background: none;
    background-color: #252725;

    position: fixed;
    z-index: 1;

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#mes-formations {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#mes-formations img {
    display: inline-block;
    float: left;

    width: 35%;
}
